body {
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding:20px;
  h1,p{
    text-align: center;
    color:rgb(73, 66, 66);
  }
  p{
    font-family: 'Courier New', Courier, monospace;
  }
}

#app{
  max-width: 700px;
  margin:auto;
}

#board{
  margin:auto;
  text-align: center;
}

#StartButton{
  border:1px solid grey;
  border-radius: 4px;
  padding:10px;
}

.card {

  width: 100px;
  height: 100px;
  transition: transform 0.36s;
  transform-style: preserve-3d;
  transform-origin: center;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin:20px;
  perspective: 50em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border:4px solid gray;

  .face{
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

  .front{
      background-color: rgb(224, 224, 224);
    }

  .back{
    background-color: white;
      transform: rotateY(180deg);
      img{
        width: 100%;
        height: 100%;
      }
    }

  &.open{
    pointer-events: none;
    z-index: 99;
    transform: perspective(300px) scale3d(1.2,1.2,1.2) rotateY(180deg)  translateZ(-2px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }

  &.finished{
    pointer-events: none;
    z-index: 99;
    transform: rotateY(180deg) rotateZ(-10deg);
    img{    
      filter: contrast(0.6);
      width: 100%;
      height: 100%;
    }
  }

}